notebook
python-dotenv
numpy<2
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-core
langchain-community 
langchain-text-splitters
langchain-experimental
langchain-teddynote
pypdf
faiss-cpu
# faiss-gpu